
<%- include('../includes/head'); %>


<%- include('../includes/navigation'); %>



 <h1>Login User: <%= userlogin%></h1>
 <h2>Your Cart</h2>

 <ul>
     <% if (prods.length > 0) { %>
        <% for (let product of prods) { %>
            <li><%= product.title%></li>
            <li><%=product.cartItem.quantity%></li>
            <li>
                <form action="/deletefromcart" method="POST">
                     <input type="hidden" name="productId" value="<%= product.id %>">
                     <button class=btn>DELETE</button>
             </form></li>
        <% } %>
    <% } else {%>
        <h1>No Product in the Cart</h1>
    <% } %>
 </ul>

<%- include('../includes/footer'); %>